html {
    font-size: 62.5%;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #e8c9c9;
    font-family:"Playfair Display",'Times New Roman', Times, serif;
    color: rgb(6 3 55);
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.game {
    text-align: center;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.hidden {
    display: none;
}

.game__heading {
    margin-top: 15rem;
    margin-bottom: 4rem;
}

.output {
    background-color: #f3f3f3;
    border: 2px solid #c57272;
    padding: 1rem 3rem;
    font-weight: bold;
    border-radius: 10px;

}

.output__record {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #6a1818;
    
}

.game__board {
    background-color: rgb(229 172 172 / 49%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(197,114,114, 0.5);
    margin: 3rem auto;
}

.game__board.game__board--finish {
    box-shadow: none;
}
.game__board--finish {
    opacity: 0.5;
}

.game__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    perspective: 1000px;
    position: relative;

}

.game__card--matched {
    pointer-events: none;
}

.game__card-inner {
    width: 100%;
    height: 100%;
    position:absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease; 
    border: 1px solid floralwhite;
    border-radius: 10px;
}

.game__card-front,
.game__card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.game__card-front {
    background-color: floralwhite;
    transition: all 0.2s ease-in-out;
}

.game__card-front:hover,
.game__card-front:focus {
    background-color: #f3f3f3;
    outline: none;
}

.game__card-back {
    transform: rotateY(180deg);
}

.game__card--flipped .game__card-back {
     background: #f7f9fa;
    background: linear-gradient(90deg, rgba(247, 249, 250, 1) 0%, rgba(190, 241, 247, 1) 50%, rgba(188, 227, 223, 1) 100%);
    box-shadow: 0 0 2px 5px rgba(230, 230, 230, 0.8);

}

.game__card--matched .game__card-back {
    background-color: rgb(105, 99, 99);
    color: #a19d9d;  
}

.game__card--flipped .game__card-inner,
.game__card--matched .game__card-inner {
    transform: rotateY(180deg);
}

.buttons {
    display: flex;
    gap: 50px;
    align-items: start;
}

.button {
    outline: none;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    border: 2px solid #c57272;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #c57272;
    color: #f3f3f3;
}

/* Media queries */

@media screen and (min-width: 768px){
    body {
        font-size: 2rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    
    .game__card {
        width: 120px;
        height: 200px;
        font-size: 4rem;
        font-weight: bold;
    }

    .buttons {
        gap: 150px;
        margin-top: 4rem;
    }
     
    
}

@media screen and (min-width: 1024px){
    .game__card {
        width: 150px;
        height: 250px;
    }
    
}